
.all-tweets article {
  border: 4px solid #545149;
  margin: 80px 0 40px;
}


.all-tweets article:hover {
  box-shadow: 7px 6px #54514956;
}


.all-tweets img {
  width: 60px;
  margin: 15px;
}


.all-tweets header span:nth-of-type(1) {
  position: relative;
  bottom: 1.5em;
  font-weight: 300;
}


.all-tweets header span:nth-of-type(2) {
  position: absolute;
  padding-top: 1.5em;
  right: 10%;
  color: #54514956;
  font-weight: 500;
}


.all-tweets p {
  margin: 0 0.4em;
  padding: 0.5em 1em 1.5em;
  border-bottom: 4px solid #545149;
  font-weight: 400;
}


.all-tweets footer {
  font-size: 0.7em;
  margin: 0.8em 3.5%;
}

.all-tweets footer i {
  padding: 0 4px;
  float: right;
  color: #4056A1;
}

.all-tweets footer i:hover {
  color: orange;
}


@media screen and (min-width: 1024px) {
  .all-tweets {
    width: 100%;
    float: right;
    background-color: #f4f1ec;
    
  }

  .all-tweets .tweet {
    margin: 40px 0;
  }

}

@media only screen and (min-width: 320px) and (max-width: 752px) {
  .all-tweets img {
    padding: 0.5em 0em 0em 0.5em;
    width: 40px;
    margin: 10px;
  }
  .all-tweets header span:nth-of-type(1) {
    position: relative;
    bottom: 0.5em;
    font-weight: 300;
  }

  .all-tweets header span:nth-of-type(2) {
    position: absolute;
    padding-top: 1em;
    right: 10%;
    color: #54514956;
    font-weight: 300;
  }

  .all-tweets p {
    margin: 0 0.4em;
    padding: 2em 1em 0.5em;
    border-bottom: 4px solid #545149;
    font-weight: 400;
  }
}