.profile{
  height: 400px;
  width: 100%;
  background-color: #10c200;
  background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 120px;
}

.profile h2 {
  width: 50%;
  text-align: center;
  margin-top: 0px;
}